@charset "UTF-8";
/* dark/light mode */
:root {
  --text-color: #fff;
  --bg-colorContainer: #003300;
  --bg-colorWrapper: rgba(129, 9, 9, 0.9);
  --buttonBg: #086100;
  --bg-buttonToggle: #fff;
}

.light {
  --text-color: #660303;
  --buttonBg: #46a546;
  --bg-colorContainer: #df4343;
  --bg-colorWrapper: rgba(125, 227, 112, 0.9);
  --bg-buttonToggle: #666666;
}

body {
  height: 800px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/background_santa.jpg);
  background-size: cover;
  background-position: center;
}
body #toggleBtn {
  border-radius: 1rem;
  border: none;
  opacity: 0.7;
  background: var(--bg-buttonToggle);
  top: 5%;
  left: 5%;
  position: absolute;
  z-index: 1;
}
body #toggleBtn #toggleIcon {
  font-size: 3em;
  cursor: pointer;
}
body .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 80%;
  border-radius: 1rem;
  border: dotted 5px snow;
  background: var(--bg-colorWrapper);
  box-sizing: border-box;
}
body .wrapper #startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 75%;
  background: var(--bg-colorContainer);
  border: none;
  border-radius: 1rem;
}
body .wrapper #startPage #startQuizBtn {
  width: 30%;
  height: 20%;
  background: var(--buttonBg);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}
body .wrapper #startPage h1 {
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}
body .wrapper #quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 4px black;
  width: 85%;
  height: 85%;
  background: var(--bg-colorContainer);
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
}
body .wrapper #quiz-container #options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}
body .wrapper #quiz-container #options .btnOption {
  background: var(--buttonBg);
  color: var(--text-color);
  font-weight: 700;
}
body .wrapper #quiz-container #options .disabled {
  pointer-events: none;
  /* Hindra klickhändelser på inaktiva alternativ */
  opacity: 0.5;
}
body .wrapper #quiz-container #question {
  margin: 2rem;
  color: var(--text-color);
  font-size: 23px;
  text-align: center;
  font-weight: 700;
}
body .wrapper #quiz-container #feedback {
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: yellow;
  font-weight: 700;
}
body .wrapper #quiz-container button {
  margin-top: 30px;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
body .wrapper #quiz-container #btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
}
body .wrapper #quiz-container #btnBox #nextQuestion {
  border: dotted #990000 4px;
  color: #990000;
  font-weight: 700;
  margin: 5%;
}
body .wrapper #quiz-container #btnBox #submit {
  border: dotted snow 4px;
  color: snow;
  background: #990000;
  font-weight: 700;
  margin: 5%;
}
body .wrapper #result {
  width: 70%;
  height: 75%;
  background: var(--bg-colorContainer);
  border: none;
  border-radius: 1rem;
}
body .wrapper #result #resultTextColor {
  text-align: center;
  font-size: 2rem;
  color: snow;
}
body .wrapper #result .box_result {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper #result .box_result .star {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
body .wrapper #result .box_result .star_black {
  flex-direction: row;
  width: 10%;
}
body .wrapper #result .box_result .star_yellow {
  flex-direction: row;
  width: 10%;
}/*# sourceMappingURL=style.css.map */