body {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    #startPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 70%;
        background: lightgray;
        border: none;
        border-radius: 1rem;

        #startQuiz {
            width: 15rem;
            height: 8rem;
            background: black;
            color: snow;
            border: none;
            border-radius: 1rem;
        }


        h1 {
            color: black;
        }

    }




    #quiz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 70%;
        background: lightgray;
        border: none;
        border-radius: 1rem;
        gap: 10px;

        #question {

            font-size: 23px;
            text-align: center;
        }

        #feedback {
            display: flex;
            justify-content: center;
            margin-bottom: -5px;
            font-size: 23px;


        }

        button {
            margin-top: 30px;
            width: 10rem;
            height: 3rem;
            border: none;
            border-radius: 1rem;
        }




        #options {


            .btnOption {
                background: red;
            }
        }

        #btnBox {
            display: flex;
            flex-direction: row;
            gap: 10px;

            #submit {
                background: green;
            }
        }
    }

    #result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 70%;
        background: lightgray;
        border: none;
        border-radius: 1rem;
        gap: 10px;


        .box_result {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;


            .not-approved {


                .star {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                }

                #star_black {
                    flex-direction: row;
                    width: 10%;


                }
            }

            .good {
                .star {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                }

                #star_black {
                    width: 10%;


                }

                #star_yellow {
                    width: 10%;
                }
            }

            .very-good {

                .star {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;


                    #star_yellow {
                        width: 10%;
                    }


                }

            }
        }
    }
}